
body, input {
  font-family: 'Quicksand', sans-serif;
  background: #212E59;
  color: #0BD4B9;
  font-size: 18px;
  box-sizing: border-box;
}

#demo {
  text-align: center;
}

h1 {
  font-size: 4em;
}

section {
  padding: 3em;
  width: 600px;
  box-sizing: border-box;
  background: #0bd4b9;
  color: #212E59;
  margin: 50px auto;
}

label {
  padding: 5px;
  font-size: 18px;
  font-weight: 500;
  display: block;
}

button {
  padding: 6px;
  font-size: 18px;
  background: #212E59;
  color: #fff;
  border: 0;
  display: block;
  margin: 0 auto;
  margin-top: 15px;
  width: 250px;
  box-sizing: border-box;
  box-shadow: 0 0 5px #000;
  transition: all 750ms;
}

button:hover {
  background-color: #3E57A8;
  transition: all 750ms;
  box-shadow: 0 0 12px #000;
}

button:active {
  box-shadow: none;
  transition: all 750ms;
}

.wrp {
  width: 250px;
  margin: 0 auto;
  text-align: left;
}

.combo-wrap {
  position: relative;
  display: inline-block;
}

.combobox {
  width: 250px;
  padding: 10px 35px 10px 5px;
  border: 1px solid #fff;
  box-sizing: border-box;
  position: relative;
  font-size: 14px;
  text-align: left;
  background-color: #fff;
  color: #212E59;
  box-shadow: 0 0 5px #000;
}

.fa-caret-down {
  position: absolute;
  font-size: 19px;
  line-height: 40px;
  top: 0;
  right: 0;
  padding: 0 10px;
  color: #fff;
  background-color: #212E59;
}

.listbox {
  display: none;
  position: absolute;
  top: 40px; /* the height of the input */
  left: 0;
  width: 250px;
  box-sizing: border-box;
  padding: 0;
  background: #fff;
  z-index: 99;
  text-align: left;
  box-shadow: 0 3px 12px #000;
  max-height: 250px;
  overflow-y: auto;
}

.listbox.open {
  display: block;
}

.listbox .option {
  padding: 4px 6px;
  cursor: default;
}

.listbox .option.selected {
  color: #fff;
  background-color: forestgreen;
}

.listbox .option.active {
  color: #fff;
  background-color: #212E59;
}

.option .check {
  display:inline-block;
  width: 13px;
  height: 13px;
  border: 2px solid #ddd;
}

.option .check:after {
    /*Add another block-level blank space*/
    content: '';
    display: none;
    margin: 0 auto;

    /*Make it a small rectangle so the border will create an L-shape*/
    width: 4px;
    height: 10px;

    /*Add a white border on the bottom and left, creating that 'L' */
    border: solid #fff;
    border-width: 0 2px 2px 0;

    /*Rotate the L 45 degrees to turn it into a checkmark*/
    transform: rotate(45deg);
}

.selected .check:after {
  display: block;
}

.optgroup-label {
  font-weight: bold;
  font-size: 22px;
  border-bottom: 5px solid;
}

footer {
  box-sizing: border-box;
  width: 100%;
  background-color: #3E57A8;
  padding: 25px;
  min-height: 50px;
  color: #fff;
  margin-top: 500px;
}
